@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

#backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}

.footer {
  padding: 60px 0;
}

.footer .container .footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer .container .footer__wrapper .footer__pages {
  display: flex;
  gap: 100px;
}

.footer .container .footer__wrapper .footer__pages .pages {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .container .footer__wrapper .footer__pages .pages h2 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer .container .footer__wrapper .footer__pages .pages a {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.footer .container .footer__wrapper .footer__subcribe h6 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer .container .footer__wrapper .footer__subcribe p {
  color: #65665C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 379px;
  margin-top: 10px;
}

.footer .container .footer__wrapper .footer__subcribe .footer__input__class {
  display: flex;
  gap: 16px;
}

.footer .container .footer__wrapper .footer__subcribe .footer__input__class .footer__input {
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 15px;
  outline: none;
  margin-top: 15px;
}

.footer .container .footer__wrapper .footer__subcribe .footer__input__class .footer__input::-moz-placeholder {
  color: #65665C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer .container .footer__wrapper .footer__subcribe .footer__input__class .footer__input::placeholder {
  color: #65665C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer .container .footer__wrapper .footer__subcribe .footer__input__class button {
  border-radius: 6px;
  border: 1px solid #CF6F49;
  background: #CF6F49;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 1px 28px;
}

.footer .container .footer__wrapper .footer__subcribe .privacy {
  display: flex;
  gap: 10px;
  margin-top: 16px;
}

.footer .container .footer__wrapper .footer__subcribe .privacy p {
  color: #65665C;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
}

#navbar {
  background: #939878;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

#navbar p {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-left: 530px;
}

nav {
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
  margin-top: 40px;
  position: sticky;
}

nav .container .nav__wrapper {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .container .nav__wrapper .nav__links {
  display: flex;
  gap: 16px;
}

nav .container .nav__wrapper .nav__links ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

nav .container .nav__wrapper .nav__links ul li {
  list-style-type: none;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

nav .container .nav__wrapper .nav__links ul ul, nav .container .nav__wrapper .nav__links ul li {
  color: #2A2C1F;
}

nav .container .nav__wrapper .nav__links ul li a:hover {
  color: #3ca0e7;
}

nav .container .nav__wrapper .nav__links ul li:hover {
  cursor: pointer;
}

nav .container .nav__wrapper .nav__links ul ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 1000;
  left: 100;
  display: none;
  background: white;
}

nav .container .nav__wrapper .nav__links ul ul li:hover > ul,
nav .container .nav__wrapper .nav__links ul ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

nav .container .nav__wrapper .nav__links ul ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

nav .container .nav__wrapper .nav__links ul ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}

nav .container .nav__wrapper a {
  text-decoration: none;
}

nav .container .nav__wrapper a:hover {
  color: #3CA0E7;
}

nav .container .nav__wrapper ul li ul li a {
  transition: all 0.5s ease;
}

nav .container .nav__search {
  display: flex;
  align-items: center;
  gap: 4px;
}

nav .container .nav__search .search {
  max-width: 70px;
}

nav .container .nav__search .search::-moz-placeholder {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

nav .container .nav__search .search::placeholder {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

nav .nav__btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

nav .nav__btns .btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100px;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

nav .nav__btns .btn1:hover {
  box-shadow: -19px 15px 10px 4px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

nav .nav__btns .btn1 p {
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

nav .nav__btns .btn2 {
  border-radius: 6px;
  border: 1px solid #CF6F49;
  background: #CF6F49;
  width: 159px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

nav .nav__btns .btn2:hover {
  box-shadow: -19px 15px 10px 4px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

.hero {
  background: #F5F5F2;
}

.hero .container .hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .container .hero__wrapper .hero__left h6 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border-radius: 32px;
  background: #E7E8E3;
  max-width: 160px;
  display: flex;
  justify-content: center;
}

.hero .container .hero__wrapper .hero__left h1 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.2px;
  max-width: 516px;
  margin-top: 26px;
}

.hero .container .hero__wrapper .hero__left p {
  margin-top: 20px;
  max-width: 503px;
  color: #65665C;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.hero .container .hero__wrapper .hero__left .hero__search {
  display: flex;
  gap: 16px;
  margin-top: 21px;
}

.hero .container .hero__wrapper .hero__left .hero__search .hero__search__side {
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  max-width: 310px;
  height: 48px;
  display: flex;
  gap: 16px;
  padding: 9px;
}

.hero .container .hero__wrapper .hero__left .hero__search .hero__search__side img {
  width: 24px;
}

.hero .container .hero__wrapper .hero__left .hero__search .hero__search__side .hero__search__input::-moz-placeholder {
  color: #65665C;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  align-items: center;
}

.hero .container .hero__wrapper .hero__left .hero__search .hero__search__side .hero__search__input::placeholder {
  color: #65665C;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  align-items: center;
}

.hero .container .hero__wrapper .hero__left .hero__search button {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 154px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #CF6F49;
  background: #CF6F49;
  align-items: center;
}

.logos {
  margin-top: 67px;
}

.logos .container .logos__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.logos .container .logos__wrapper .logos__text {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 243px;
}

.logos .container .logos__wrapper .logos__img {
  display: flex;
  gap: 32px;
}

.work {
  margin-top: 122px;
}

.work .container .work__wrapper .work__title {
  display: grid;
  place-items: center;
}

.work .container .work__wrapper .work__title h2 {
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
}

.work .container .work__wrapper .work__title p {
  max-width: 754px;
  color: #65665C;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-top: 21px;
}

.work .container .work__wrapper .work__items {
  display: flex;
  gap: 32px;
  margin-top: 61px;
  justify-content: center;
}

.work .container .work__wrapper .work__items .work__item {
  padding: 48px 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.work .container .work__wrapper .work__items .work__item:hover {
  box-shadow: -19px 15px 10px 4px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

.work .container .work__wrapper .work__items .work__item h3 {
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px;
  margin-top: 24px;
}

.work .container .work__wrapper .work__items .work__item p {
  max-width: 338px;
  color: #65665C;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 17px;
}

.comfort {
  margin-top: 128px;
}

.comfort .container .comfort__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comfort .container .comfort__wrapper .comfort__text h6 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border-radius: 32px;
  background: #E7E8E3;
  width: 107px;
  height: 29px;
  display: grid;
  place-items: center;
}

.comfort .container .comfort__wrapper .comfort__text h2 {
  max-width: 453px;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  margin-top: 24px;
}

.comfort .container .comfort__wrapper .comfort__text p {
  max-width: 520px;
  color: #65665C;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-top: 28px;
}

.comfort .container .comfort__wrapper .comfort__text .comfort__btns {
  display: flex;
  gap: 24px;
  margin-top: 21px;
}

.comfort .container .comfort__wrapper .comfort__text .comfort__btns .comfort__btn1 {
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 13px 25px;
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.comfort .container .comfort__wrapper .comfort__text .comfort__btns .comfort__btn1:hover {
  box-shadow: 0px 0px 10px 9px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

.comfort .container .comfort__wrapper .comfort__text .comfort__btns .comfort__btn2 {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 10px;
  align-items: center;
}

.comfort .container .comfort__wrapper .comfort__text .comfort__btns .comfort__btn2:hover img {
  padding-left: 5px;
  transition: 0.2s;
}

.comfort .container .comfort__wrapper .comfort__text .comfort__btns .comfort__btn2 p {
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 1px;
}

.process {
  margin-top: 128px;
}

.process .container .process__wrapper {
  display: flex;
  align-items: center;
  gap: 80px;
}

.process .container .process__wrapper .process__text h6 {
  width: 115px;
  height: 29px;
  display: grid;
  place-items: center;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border-radius: 32px;
  background: #E7E8E3;
}

.process .container .process__wrapper .process__text h2 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  margin-top: 25px;
}

.process .container .process__wrapper .process__text p {
  color: #65665C;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 600px;
  margin-top: 29px;
}

.process .container .process__wrapper .process__text .process__about {
  display: flex;
  gap: 24px;
  margin-top: 29px;
}

.process .container .process__wrapper .process__text .process__about h2 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-top: 16px;
}

.process .container .process__wrapper .process__text .process__about p {
  color: #65665C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 281px;
  margin-top: 18px;
}

.process__btns {
  display: flex;
  gap: 24px;
  align-items: center;
}

.process__btns .process__btn1 {
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 13px 25px;
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}

.process__btns .process__btn1:hover {
  box-shadow: 0px 0px 10px 9px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

.process__btns .process__btn2 {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 10px;
  align-items: center;
}

.process__btns .process__btn2:hover img {
  padding-left: 5px;
  transition: 0.2s;
}

.process__btns .process__btn2 p {
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.process__btns .process__btn2 img {
  margin-top: 27px;
}

.fav {
  background: #F5F5F2;
  padding-top: 128px;
  margin-top: 128px;
}

.fav .container .fav__wrapper .fav__title {
  display: grid;
  place-items: center;
}

.fav .container .fav__wrapper .fav__title h6 {
  width: 115px;
  height: 29px;
  display: grid;
  place-items: center;
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border-radius: 32px;
  background: #E7E8E3;
}

.fav .container .fav__wrapper .fav__title h2 {
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  margin-top: 21px;
}

.fav .container .fav__wrapper .fav__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 32px;
  margin-top: 82px;
}

.fav .container .fav__wrapper .fav__items .fav__card {
  background: #FFF;
  border-radius: 10px;
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.fav .container .fav__wrapper .fav__items .fav__card:hover {
  box-shadow: -19px 15px 10px 4px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

.fav .container .fav__wrapper .fav__items .fav__card .fav__card__text {
  padding: 24px;
}

.fav .container .fav__wrapper .fav__items .fav__card .fav__card__text h2 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px;
  margin-top: 23px;
}

.fav .container .fav__wrapper .fav__items .fav__card .fav__card__text p {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin-top: 3px;
}

.fav .container .fav__wrapper .fav__items .fav__card .fav__card__text span {
  display: flex;
  gap: 10px;
}

.fav .container .fav__wrapper .fav__items .fav__card .fav__card__text span p {
  color: #65665C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.fav .container .fav__wrapper .fav__items .fav__card .fav__card__text .fav__item__info {
  display: flex;
  gap: 26px;
}

.fav .container .fav__wrapper .fav__items .fav__card .fav__card__text .fav__item__info .fav__item__info__item {
  display: flex;
  gap: 10px;
}

.fav .container .fav__wrapper .fav__btns {
  display: flex;
  gap: 49px;
  justify-content: center;
  margin-top: 80px;
}

.fav .container .fav__wrapper .fav__btns .fav__button1 {
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 13px 25px;
}

.fav .container .fav__wrapper .fav__btns .fav__button1:hover {
  box-shadow: 0px 0px 10px 9px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

.fav .container .fav__wrapper .fav__btns .fav__button2 {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
}

.fav .container .fav__wrapper .fav__btns .fav__button2:hover img {
  padding-left: 5px;
  transition: 0.2s;
}

.locations {
  padding-top: 157px;
  background: #F5F5F2;
}

.locations .container .locations__wrapper .locations__title {
  display: grid;
  place-items: center;
}

.locations .container .locations__wrapper .locations__title h2 {
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
}

.locations .container .locations__wrapper .locations__title p {
  color: #65665C;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 713px;
  margin-top: 25px;
}

.locations .container .locations__wrapper .locations__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  place-items: center;
  margin-top: 73px;
}

.locations .container .locations__wrapper .locations__cards .location__item {
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  width: 416px;
  height: 130px;
  padding: 33px;
  cursor: pointer;
}

.locations .container .locations__wrapper .locations__cards .location__item:hover {
  box-shadow: -19px 15px 10px 4px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

.locations .container .locations__wrapper .locations__cards .location__item:hover img {
  padding-left: 5px;
  transition: 0.2s;
}

.locations .container .locations__wrapper .locations__cards .location__item h3 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.locations .container .locations__wrapper .locations__cards .location__item .location__link {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  cursor: pointer;
}

.locations .container .locations__wrapper .locations__cards .location__item .location__link p {
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.locations .container .locations__wrapper .locations__btns {
  display: flex;
  gap: 49px;
  padding-bottom: 128px;
  justify-content: center;
  margin-top: 80px;
}

.locations .container .locations__wrapper .locations__btns .locations__btn1 {
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 6px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 13px 25px;
}

.locations .container .locations__wrapper .locations__btns .locations__btn1:hover {
  box-shadow: 0px 0px 10px 9px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

.locations .container .locations__wrapper .locations__btns .locations__btn2 {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
}

.locations .container .locations__wrapper .locations__btns .locations__btn2:hover img {
  padding-left: 5px;
  transition: 0.2s;
}

.start {
  margin-top: 126px;
}

.start .container .start__wrapper {
  display: grid;
  place-items: center;
  border-radius: 24px;
  background: #65665C;
  padding: 95px;
  max-width: 1280px;
}

.start .container .start__wrapper h2 {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  margin-top: 13px;
  max-width: 600px;
  min-width: 300px;
}

.start .container .start__wrapper p {
  max-width: 765px;
  color: #E7E8E3;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-top: 29px;
}

.start .container .start__wrapper button {
  margin-top: 21px;
  border-radius: 6px;
  border: 1px solid #CF6F49;
  background: #CF6F49;
  padding: 13px 25px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.start .container .start__wrapper button:hover {
  box-shadow: -23px 24px 4px 0px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

.comment {
  margin-top: 160px;
}

.comment .container .comment__title {
  display: grid;
  place-items: center;
}

.comment .container .comment__title h2 {
  color: #2A2C1F;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
}

.comment .container .comment__title p {
  color: #65665C;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-top: 26px;
}

.comment .container .comment__cards {
  margin-top: 80px;
  display: flex;
  gap: 32px;
}

.comment .container .comment__cards .comment__item {
  padding: 33px;
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.comment .container .comment__cards .comment__item:hover {
  box-shadow: -19px 15px 10px 4px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

.comment .container .comment__cards .comment__item p {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 325px;
  margin-top: 27px;
}

.comment .container .comment__cards .comment__item .comment__account {
  display: flex;
  gap: 16px;
  margin-top: 29px;
}

.comment .container .comment__cards .comment__item .comment__account .comment__account__name h4 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.comment .container .comment__cards .comment__item .comment__account .comment__account__name h5 {
  color: #65665C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.blog {
  margin-top: 160px;
  background: #F5F5F2;
}

.blog .container .blog__wrapper {
  padding-top: 132px;
}

.blog .container .blog__wrapper .blog__title {
  display: grid;
  place-items: center;
}

.blog .container .blog__wrapper .blog__title h6 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 53px;
  height: 29px;
  border-radius: 32px;
  background: #E7E8E3;
  display: grid;
  place-items: center;
}

.blog .container .blog__wrapper .blog__title h2 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  margin-top: 21px;
  max-width: 300px;
}

.blog .container .blog__wrapper .blog__title p {
  color: #65665C;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 710px;
  margin-top: 29px;
}

.blog .container .blog__wrapper .blog__cards {
  display: flex;
  gap: 34px;
  margin-top: 78px;
  padding-bottom: 128px;
}

.blog .container .blog__wrapper .blog__cards .blog__card {
  border-radius: 16px;
  border: 1px solid #E7E8E3;
  background: #FFF;
  min-width: 400px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.blog .container .blog__wrapper .blog__cards .blog__card .blog__card__img {
  max-width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog .container .blog__wrapper .blog__cards .blog__card:hover {
  box-shadow: -19px 15px 10px 4px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}

.blog .container .blog__wrapper .blog__cards .blog__card .blog__card__text {
  padding: 32px;
}

.blog .container .blog__wrapper .blog__cards .blog__card .blog__card__text .blog__card__info {
  display: flex;
  gap: 16px;
  align-items: center;
}

.blog .container .blog__wrapper .blog__cards .blog__card .blog__card__text h2 {
  color: #2A2C1F;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px;
  margin-top: 21px;
}

.blog .container .blog__wrapper .blog__cards .blog__card .blog__card__text p {
  color: #65665C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 7px;
}

.blog .container .blog__wrapper .blog__cards .blog__card button {
  margin-bottom: 22px;
  background: transparent;
  display: flex;
  gap: 10px;
  margin-left: 33px;
  align-items: center;
}

.blog .container .blog__wrapper .blog__cards .blog__card button p:hover {
  color: #000;
  transition: 0.4s;
}

.social__media {
  background: #F5F5F2;
}

.social__media .container .social__meda__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.social__media .container .social__meda__wrapper .social__media__text {
  display: flex;
  gap: 10px;
}

.social__media .container .social__meda__wrapper .social__media__text p {
  color: #65665C;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.social__media .container .social__meda__wrapper .social__media__logos {
  display: flex;
  gap: 12px;
}

#backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}

.nav__menu {
  display: none;
}

@media screen and (max-width: 1000px) {
  #navbar {
    display: none;
  }
  nav {
    margin-top: 0;
  }
  nav .container .nav__wrapper .nav__links {
    display: none;
  }
  nav .container .nav__wrapper .nav__menu {
    display: block;
  }
  nav {
    flex-direction: column;
    position: relative;
  }
  nav .nav__menu {
    display: block;
    position: absolute;
    top: 28px;
    right: 32px;
  }
  nav ul {
    display: none;
  }
  .showmenu {
    display: block;
    padding-top: 28px;
  }
  nav .container .nav__wrapper .nav__menu {
    display: block;
  }
  .hero .container .hero__wrapper {
    padding: 50px 0;
  }
  .hero .container .hero__wrapper .hero__left .hero__search {
    flex-direction: column;
  }
  .hero .container .hero__wrapper .hero__right img {
    width: 500px;
  }
  .logos .container .logos__wrapper {
    flex-direction: column;
    gap: 50px;
  }
  .logos .container .logos__wrapper .logos__text {
    max-width: 900px;
    font-size: 24px;
  }
  .comfort .container .comfort__wrapper .comfort__img img {
    width: 400px;
  }
  .process .container .process__wrapper .process__text h2 {
    font-size: 42px;
  }
  .process .container .process__wrapper .process__img img {
    width: 500px;
  }
  .fav .container .fav__wrapper .fav__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    place-items: center;
  }
  .locations .container .locations__wrapper .locations__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
  }
  .comment .container .comment__cards {
    flex-direction: column;
  }
  .blog .container .blog__wrapper .blog__title p {
    text-align: center;
  }
  .blog .container .blog__wrapper .blog__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 32px;
    place-items: center;
  }
  .blog .container .blog__wrapper .blog__cards .blog__card {
    width: 500px;
  }
  .blog .container .blog__wrapper .blog__cards .blog__card .blog__card__img img {
    width: 500px;
  }
  .mobile-container {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .hero .container .hero__wrapper .hero__left .hero__search {
    flex-direction: column;
  }
  .hero .container .hero__wrapper .hero__right img {
    display: none;
  }
  .logos .container .logos__wrapper .logos__img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    text-align: center;
  }
  .work .container .work__wrapper .work__items {
    flex-direction: column;
  }
  .comfort .container .comfort__wrapper .comfort__img img {
    display: none;
    -webkit-backdrop-filter: blur(42px) brightness(0.16);
            backdrop-filter: blur(42px) brightness(0.16);
  }
  .comfort .container .comfort__wrapper .comfort__text {
    display: grid;
    place-items: center;
    margin-left: 80px;
  }
  .comfort .container .comfort__wrapper .comfort__text h2, .comfort .container .comfort__wrapper .comfort__text p {
    text-align: center;
  }
  .process .container .process__wrapper .process__text {
    display: grid;
    place-items: center;
  }
  .process .container .process__wrapper .process__text p {
    text-align: center;
  }
  .process .container .process__wrapper .process__img img {
    display: none;
  }
  .process .container .process__wrapper .process__about .process__card h2 {
    display: grid;
    place-items: center;
  }
  .process .container .process__wrapper .process__about .process__card img {
    margin-left: 100px;
  }
  .fav .container .fav__wrapper .fav__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    place-items: center;
  }
  .locations .container .locations__wrapper .locations__title p {
    max-width: 450px;
  }
  .locations .container .locations__wrapper .locations__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
  .start .container .start__wrapper h2 {
    width: 200px;
  }
  .footer .container .footer__wrapper {
    display: grid;
    place-items: center;
  }
  .footer .container .footer__wrapper .logo img {
    display: none;
  }
  .footer .container .footer__wrapper .footer__subcribe {
    margin-top: 50px;
    display: grid;
    place-items: center;
    margin-left: 130px;
  }
  .footer .container .footer__wrapper .footer__pages {
    margin-left: 130px;
  }
}
@media screen and (max-width: 480px) {
  .hero .container .hero__wrapper .hero__left h1, .hero .container .hero__wrapper .hero__left p {
    text-align: center;
  }
  .hero .container .hero__wrapper .hero__left .hero__search {
    display: grid;
    place-items: center;
  }
  .logos .container .logos__wrapper .logos__text {
    display: grid;
    text-align: center;
    place-items: center;
  }
  .logos .container .logos__wrapper .logos__img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }
  .comfort .container .comfort__wrapper .comfort__img img {
    display: none;
    -webkit-backdrop-filter: blur(42px) brightness(0.16);
            backdrop-filter: blur(42px) brightness(0.16);
  }
  .comfort .container .comfort__wrapper .comfort__text {
    display: grid;
    place-items: center;
    margin-left: 1px;
  }
  .comfort .container .comfort__wrapper .comfort__text h2, .comfort .container .comfort__wrapper .comfort__text p {
    text-align: center;
  }
  .process .container .process__wrapper .process__text {
    display: grid;
    place-items: center;
  }
  .process .container .process__wrapper .process__text p, .process .container .process__wrapper .process__text h2 {
    text-align: center;
  }
  .process .container .process__wrapper .process__img img {
    display: none;
  }
  .process .container .process__wrapper .process__about .process__card h2 {
    display: grid;
    place-items: center;
  }
  .process .container .process__wrapper .process__about .process__card img {
    margin-left: 1px;
  }
  .process__btns .process__btn1 {
    padding: 10px 20px;
  }
  .start .container .start__wrapper {
    padding: 50px;
  }
  .start .container .start__wrapper h2 {
    font-size: 36px;
  }
  .blog .container .blog__wrapper .blog__cards .blog__card {
    width: 200px;
  }
  .blog .container .blog__wrapper .blog__cards .blog__card .blog__card__img img {
    max-width: 390px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .blog .container .blog__wrapper .blog__cards .blog__card .blog__card__text {
    padding: 6px;
  }
  .footer .container .footer__wrapper {
    display: grid;
    place-items: center;
  }
  .footer .container .footer__wrapper .logo img {
    display: none;
  }
  .footer .container .footer__wrapper .footer__subcribe {
    margin-top: 50px;
    display: grid;
    place-items: center;
    margin-left: 60px;
  }
  .footer .container .footer__wrapper .footer__subcribe p {
    text-align: center;
  }
  .footer .container .footer__wrapper .footer__subcribe .footer__input__class {
    margin-top: 50px;
  }
  .footer .container .footer__wrapper .footer__pages {
    margin-left: 0px;
    gap: 60px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

button, a, input {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}

input {
  outline: none;
}/*# sourceMappingURL=main.css.map */