nav{
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
    .container{
        .nav__wrapper{
            height: 74px;
            display: flex;
            align-items: center;
            justify-content: space-between;
           .nav__links{
            display: flex;
            gap: 16px;
            ul{
                display: flex;
                align-items: center;
                gap: 32px;
                li{
                    list-style-type: none;
                    color: #2A2C1F;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; 
                    cursor: pointer;

                }
                ul, li{
                    color: #2A2C1F;
                }

                li a:hover {
                    color: #3ca0e7;
                  }
              
                  li:hover {
                    cursor: pointer;
                  }
              
                  ul li ul {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
              padding-left: 1000;
                    left: 100;
                    display: none;
                    background: white;
                  }
              
                  ul li:hover > ul,
                  ul li ul:hover {
                    visibility: visible;
                    opacity: 1;
                    display: block;
                    min-width: 250px;
                    text-align: left;
                    padding-top: 20px;
                    box-shadow: 0px 3px 5px -1px #ccc;
                  }
              
                  ul li ul li {
                    clear: both;
                    width: 100%;
                    text-align: left;
                    margin-bottom: 20px;
                    border-style: none;
                  }
              
                  ul li ul li a:hover {
                    padding-left: 10px;
                    border-left: 2px solid #3ca0e7;
                    transition: all 0.3s ease;
                  }
                }
              }
              
              a {
              
                  text-decoration: none;
              
                  &:hover {
                      color: #3CA0E7;
                  }
               
              }
              
               ul li ul li a { transition: all 0.5s ease; }
            }

            .nav__search{
                display: flex;
                align-items: center;
                gap: 4px;
                .search{
                    max-width: 70px;
                    &::placeholder{
                        color: #2A2C1F;
                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; 
                    }
                }
            }
           }

           .nav__btns{
            display: flex;
            align-items: center;
            gap: 16px;
            .btn1{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                width: 100px;
                height: 42px;
                border-radius: 6px;
                border: 1px solid #E7E8E3;
                background: #FFF;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
                &:hover{
                    box-shadow: -19px 15px 10px 4px rgba(34, 60, 80, 0.2);
                    transition: 0.5s;
                }
                
                p{
                    color: #2A2C1F;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; 
                }
            }
            .btn2{
                border-radius: 6px;
                border: 1px solid #CF6F49;
                background: #CF6F49;
                width: 159px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFF;
                text-align: center;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                &:hover{
                    box-shadow: -19px 15px 10px 4px rgba(34, 60, 80, 0.2);
                    transition: 0.5s;
                }
            }
        }
    }